@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
    font-size: 20px;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

/* claim checkbox */
input.claim-wish:checked + div {
  @apply border-blue-500;
}
input.claim-wish:checked + div svg {
  @apply block;
}

.wish-button img {
    height: 1rem;
    color: white;
}
